# Local environment variables
.env
.env.*
!.env.example

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Compiled binary
/tmp/goby

# Node dependencies
/node_modules
npm-debug.log
tmp
web/static/css/style.css
